{% extends "tasks/tasks-menu.html" %}
{% block tasks %}
    <div class="row">
        <div class="col-1">
            <img src="https://avatars.dicebear.com/api/jdenticon/{{task.user.username}}.svg?size=30"/>
        </div>
        <div class="col-9 text-break">
            {{task.task}}
            <div class="text-primary">
                {% if task.due != None and title != "Telegram sprints" %}
                    {% if title == "7 days" %}
                        {% if task.priority == 1 %}
                            {{ task.due.strftime("%a, %d %b %Y %H:%M") }}
                        {% elif task.priority == 2 or task.priority == 3 %}
                            {{ task.due.strftime("%a, %d %b %Y") }}
                        {% endif %}
                    {% else %}
                        {% if task.priority == 1 %}
                            {{ task.due.strftime('%H:%M') }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11" style="font-size: 9pt">
            by {{ task.user.username }}
            {% if task.user_id == current_user.id %}
            |
            <span
                class="d-inline-block"
                tabindex="0"
                data-bs-toggle="tooltip"
                title="{% if task.telegram %}Remove from {% else %}Add to {% endif %}sprint"
            >
                <a
                    href="#"
                    class="text-decoration-none text-secondary"
                    value="{{task.id}}"
                    name="{% if task.telegram %}remove_from_{% else %}add_to_{% endif %}sprint_{{task.id}}"
                >
                    {% if task.telegram %} Remove from sprint {% else %} Add to sprint {% endif %}
                </a>
            </span>
            |
            <span
                class="d-inline-block"
                tabindex="0"
                data-bs-toggle="tooltip"
                title="{% if task.shared %}Stop sharing{% else %}Share{% endif %}"
            >
                <a
                    href="#"
                    class="text-decoration-none text-secondary"
                    value="{{task.id}}"
                    name="{% if task.shared %}stop_sharing{% else %}share_{% endif %}{{task.id}}"
                >
                    {% if task.shared %} Stop sharing {% else %} Share {% endif %}
                </a>
            </span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 p-2" style="font-size: 9pt">
            <form action="{{ url_for('tasks.add_task_comment') }}" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        {{add_task_comment_form.hidden_tag()}}
                        {{ add_task_comment_form.comment() }}
                    </div>
                </div>
                <div class="modal-footer">
                    {{ add_task_comment_form.submit() }}
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 p-2">
            {% if total_count == 0 %}
                No comments so far.
            {% endif %}
            <ul class="list-group list-group-flush">
                {% for comment in comments %}
                <li class="list-group-item" id="li-comment-{{comment.id}}">
                    <div class="row">
                        <div class="col-1">
                            <img src="https://avatars.dicebear.com/api/jdenticon/{{comment.user.username}}.svg?size=30"/>
                        </div>
                        <div class="col-11" >
                            <div class="text-decoration-none text-secondary" style="font-size: 9pt">
                            {{comment.user.username}} | {{ comment.submitted_time.strftime("%a, %d %b %Y %H:%M") }}
                            </div>
                            {{comment.comment}}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}